services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - node_modules:/home/vscode/app/node_modules
      - ../:/home/vscode/app:cached
    environment:
      CLOUDFLARE_ENV: dev
      NODE_ENV: development
    tty: true
    stdin_open: true
    network_mode: service:firebase

  firebase:
    image: andreysenov/firebase-tools:14.17.0
    environment:
      FIREBASE_TOKEN: $FIREBASE_TOKEN
    command: firebase emulators:start --only auth --import=auth --token ${FIREBASE_TOKEN}
    volumes:
      - ./auth:/home/node/auth
      - ./firebase.json:/home/node/firebase.json
      - ./.firebaserc:/home/node/.firebaserc
    # ports:
    #   - 4000:4000
    #   - 9099:9099

volumes:
  node_modules:
