@import "tailwindcss";
@import "tw-animate-css";

@plugin "@tailwindcss/typography";
@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@import "./themes/default.css";
@import "./themes/light.css";
@import "./themes/dark.css";

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop {
    border-color: var(--color-border);
    --tw-ring-color: var(--color-ring);
    outline-color: var(--color-ring);
  }

  body {
    @apply bg-background text-foreground;
  }
}
